@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body 
{
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

.container 
{
  width: 80%;
  margin: 0 auto;
}

header 
{
  background: dodgerblue;
  padding: 1em 0;
}

header a 
{
  color: white;
  text-decoration: none;
}

header a.logo 
{
  font-weight: bold;
}

header nav 
{
  float: right;
}

nav ul 
{
  list-style-type: none;
  margin: 0;
  display: flex;
}

li a
{
  padding: 1em;
}

li:hover 
{
  background: darken(purple, 10%);
}

h1 {
  margin-top: 2em;
}
